/*FONT START*/
body {
    font-family: 'Lilita One', cursive;
}

/*FONT END*/

/*COLORS START */
.colorWhite {
    color: rgb(255, 255, 255);
}

.backGroundColorBlue {
    background-color: #304e6f;
}
.mainBG {
    background-image: linear-gradient(
            45deg,
            hsl(241deg 26% 33%) 0%,
            hsl(280deg 35% 37%) 10%,
            hsl(315deg 56% 39%) 20%,
            hsl(328deg 100% 40%) 30%,
            hsl(342deg 100% 47%) 40%,
            hsl(0deg 100% 50%) 50%,
            hsl(342deg 100% 47%) 60%,
            hsl(328deg 100% 40%) 70%,
            hsl(315deg 56% 39%) 80%,
            hsl(280deg 35% 37%) 90%,
            hsl(241deg 26% 33%) 100%
    );
}

.backGroundColorGrey {
    background-color: #5b6169;
}

/*COLORS END */

/*MARGIN START*/
.map-border {
    /*background-color: #b499e9;*/
    border: rgb(255, 255, 255) 2px solid;
}

.padding-5 {
    padding-bottom: 5px;
}

/*MARGIN END*/
/*WIDTH SETTING START*/
.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
}

/*WIDTH SETTING END*/


/*SEARCH BAR START*/
.text-align-center {
    text-align: center;
}

.search-box {
    width: 80%;
    height: 30px;

}

.search-font {
    font-family: 'Lilita One', cursive;
}

/*SEARCH END START*/

.weather-icon {
    width: 25px;
}

/*Konami code*/
.confetti {
    opacity: 0;
    width: 10em;
    aspect-ratio: 1/1;

}
/*linked logo*/
.linkedIn{
    width: 75px;
    aspect-ratio: 1/1;
}